In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('C:\\Users\\pani_puri\\Downloads\\Summer Analytics Assignment\\Week 2 hackathon\\hacktrain.csv')
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
train['class_encoded'] = encoder.fit_transform(y = train['class'])
#label_dict = dict(zip(encoder.classes_, list(encoder.transform(encoder.classes_))))
#print(label_dict)
train.head()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N,class_encoded
0,0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906,5
1,1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075,5
2,3,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550,5
3,4,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727,5
4,7,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140,5

In [3]:
id = train['ID']
train.drop(columns = ['Unnamed: 0','ID','class'],inplace = True)
train.head()

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N,class_encoded
0,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,NaN,-1325.64,-944.084,...,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906,5
1,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,-1408.64,-989.285,...,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075,5
2,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,729.790,-3162.14,NaN,...,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550,5
3,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,-2829.40,-1267.540,...,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727,5
4,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,NaN,1242.87,-2646.050,...,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140,5

Feature Creation

In [4]:
# Interpolate missing values in a cubic manner since the data has missing values and 
# contains a lot of noise
# Use pandas' interpolate method for DataFrames
#There is an interpolate function in scipy too with a different name but that is for 
#1-D arrays. Prefer using pandas function for dataframes
#'forward': Only fill missing values forward (using previous values).
# 'backward': Only fill missing values backward (using next values).
# 'both': Fill missing values in both directions.

train_interpolated = train.interpolate(method='linear', axis=0, limit_direction='both')
train_interpolated.head()

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N,class_encoded
0,637.5950,658.6680,-1882.0300,-1924.36,997.9040,-1739.99000,630.087,-1670.590,-1325.64,-944.0840,...,-1043.160,-1942.490,267.138,364.858,476.9720,211.328,-2203.020,-1180.19,433.906,5
1,634.2400,593.7050,-1625.7900,-1672.32,914.1980,-692.38600,707.626,-1670.590,-1408.64,-989.2850,...,-933.934,-625.385,120.059,364.858,476.9720,220.878,-2250.000,-1360.56,524.075,5
2,58.0174,-1599.1600,-622.6770,-1052.63,715.0015,-1564.63000,-47.658,729.790,-3162.14,-1128.4125,...,368.622,-510.029,-1227.800,304.621,379.9025,369.214,-2202.120,-1096.39,-1343.550,5
3,72.5180,-1255.1555,380.4360,-1256.93,515.8050,-1413.18000,-802.942,683.254,-2829.40,-1267.5400,...,155.624,-394.673,-924.073,432.150,282.8330,298.320,-2197.360,-832.22,-826.727,5
4,1136.4400,-911.1510,-13.8555,1647.83,1935.8000,-710.38402,2158.980,-231.288,1242.87,-2646.0500,...,1959.430,-279.317,-384.915,-113.406,1020.7200,1660.650,-116.801,-568.05,-1357.140,5

In [5]:
test_result  = train['class_encoded']
train_interpolated.drop(columns = ['class_encoded'],inplace= True)

In [6]:
#To reduce noise you can smoothen up data by using mean or median in a rolling window
#For spectral data there is an advanced filter called Savitzkay-Golay Filter.

from scipy.signal import savgol_filter

# Apply Savitzky-Golay filter along the rows (axis=1)
# window_length must be odd and less than or equal to the number of columns
# polyorder should be less than window_length
window_length = 5  # Adjust as needed, must be odd and <= number of columns
polyorder = 2      # Adjust as needed, must be < window_length

train_smt = pd.DataFrame(
    savgol_filter(train_interpolated.values, window_length=window_length, polyorder=polyorder, axis=1),
    columns=train_interpolated.columns,
    index=train_interpolated.index
)

train_smt.head()

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,1255.858829,-709.114314,-1488.266029,-1145.133314,-664.342943,21.168914,-835.207800,-819.841257,-1618.101429,-657.133057,...,-506.776371,-1603.510971,-1152.900800,-362.619257,580.725486,595.154343,-419.257257,-1480.294800,-1114.012800,280.363200
1,1171.038543,-591.087571,-1292.203543,-1047.785743,-288.017543,506.287314,-424.078400,-907.633857,-1675.167371,-740.358894,...,-570.112457,-1087.201257,-526.142257,8.159000,416.585114,615.062257,-415.265829,-1569.409286,-1172.291343,316.508886
2,-94.791860,-1075.138140,-1277.887020,-208.441314,-492.602557,-503.487657,-99.624300,-515.200529,-1705.630400,-1565.764843,...,-4.775914,-300.133629,-480.481486,-730.944843,-130.679086,709.546357,-377.561857,-1236.320271,-1498.705386,-1303.358929
3,-67.359557,-606.278071,-726.930943,-74.511757,-628.717629,-735.676457,-441.952600,-683.732171,-1545.299457,-1513.457286,...,-549.759943,-660.952171,-336.726543,-473.568229,-1.693457,655.374286,-477.219257,-1203.721086,-1264.341943,-776.272514
4,703.974214,-45.008257,-17.489014,1598.315687,1077.787950,937.463019,453.331022,1341.703030,-461.775600,-1397.827314,...,1871.713571,1282.774214,282.314543,-577.048029,44.507400,1069.266171,1174.927029,346.709800,-461.149200,-1487.842200

In [7]:
for col in train_smt.columns:
    new_col = str(col).replace('_N', '')
    train_smt = train_smt.rename(columns={col: new_col})
    
train_smt.columns = pd.to_datetime(train_smt.columns)
train_smt.head()

,2015-07-20,2015-06-02,2015-05-17,2015-05-01,2015-04-15,2015-03-30,2015-03-14,2015-02-26,2015-02-10,2015-01-25,...,2014-06-10,2014-05-25,2014-05-09,2014-04-23,2014-04-07,2014-03-22,2014-02-18,2014-02-02,2014-01-17,2014-01-01
0,1255.858829,-709.114314,-1488.266029,-1145.133314,-664.342943,21.168914,-835.207800,-819.841257,-1618.101429,-657.133057,...,-506.776371,-1603.510971,-1152.900800,-362.619257,580.725486,595.154343,-419.257257,-1480.294800,-1114.012800,280.363200
1,1171.038543,-591.087571,-1292.203543,-1047.785743,-288.017543,506.287314,-424.078400,-907.633857,-1675.167371,-740.358894,...,-570.112457,-1087.201257,-526.142257,8.159000,416.585114,615.062257,-415.265829,-1569.409286,-1172.291343,316.508886
2,-94.791860,-1075.138140,-1277.887020,-208.441314,-492.602557,-503.487657,-99.624300,-515.200529,-1705.630400,-1565.764843,...,-4.775914,-300.133629,-480.481486,-730.944843,-130.679086,709.546357,-377.561857,-1236.320271,-1498.705386,-1303.358929
3,-67.359557,-606.278071,-726.930943,-74.511757,-628.717629,-735.676457,-441.952600,-683.732171,-1545.299457,-1513.457286,...,-549.759943,-660.952171,-336.726543,-473.568229,-1.693457,655.374286,-477.219257,-1203.721086,-1264.341943,-776.272514
4,703.974214,-45.008257,-17.489014,1598.315687,1077.787950,937.463019,453.331022,1341.703030,-461.775600,-1397.827314,...,1871.713571,1282.774214,282.314543,-577.048029,44.507400,1069.266171,1174.927029,346.709800,-461.149200,-1487.842200

In [8]:
#min and max of a row
features = pd.DataFrame({
    'row_min': train_smt.min(axis=1),
    'row_max': train_smt.max(axis=1)
})
features['min/max'] = features['row_min']/features['row_max']
#mean of the column
features['mean'] = train_smt.mean(axis= 1)
features['Standard_deviation'] = train_smt.std(axis = 1)

NDVI_THRESHOLD = 3500
#print(train_smt.min().min(), train_smt.max().max()) The values are scaled up so can't be sure about threshold

#So like range ke mid mein ja skte ho ek threshold ke liye
# Assuming NDVI columns are all columns in train_smt (adjust if needed)
features['days_ndvi_above_3500'] = (train_smt > NDVI_THRESHOLD).sum(axis=1)
features['days_ndvi_below_3500'] = (train_smt < NDVI_THRESHOLD).sum(axis=1)

max_slope = train_smt.diff(axis=1).max(axis=1)
min_slope = train_smt.diff(axis=1).min(axis=1)
features['max_slope_increase'] = max_slope
features['min_slope_decrease'] = min_slope

# The shape of the distribution can also provide 
# various insight about the distribution of the NVDI values
from scipy.stats import skew, kurtosis

features['skewness'] = train_smt.apply(skew, axis=1)
features['kurtosis'] = train_smt.apply(kurtosis, axis=1)

features.drop(columns=['row_max','row_min'],inplace = True)

features.head()

,min/max,mean,Standard_deviation,days_ndvi_above_3500,days_ndvi_below_3500,max_slope_increase,min_slope_decrease,skewness,kurtosis
0,-1.288442,-379.565392,781.760693,0,27,1394.376000,-1964.973143,0.046185,-0.939499
1,-1.430497,-284.654015,740.119688,0,27,1488.800229,-1762.126114,-0.141115,-0.857848
2,-2.012972,-417.190070,699.199523,0,27,1691.049443,-1190.429871,-0.191673,-0.768590
3,-1.889240,-348.477142,664.790395,0,27,1619.477371,-1156.145257,0.126959,-0.702653
4,-0.794909,459.194744,914.285343,0,27,1879.570657,-1803.478630,-0.645575,-0.456479

In [9]:
# ...existing code...

# Integral/Area Under Curve: Sum of all positive NDVI values (or np.trapz)
features['ndvi_sum_positive'] = (train_smt * (train_smt > 0)).sum(axis=1)
features['ndvi_trapz'] = train_smt.apply(lambda row: np.trapz(row, dx=1), axis=1)

# Number of peaks/troughs: Using scipy.signal.find_peaks
from scipy.signal import find_peaks

def count_peaks(row):
    peaks, _ = find_peaks(row)
    return len(peaks)

def count_troughs(row):
    troughs, _ = find_peaks(-row)
    return len(troughs)

features['num_peaks'] = train_smt.apply(count_peaks, axis=1)
features['num_troughs'] = train_smt.apply(count_troughs, axis=1)

# Range/Amplitude: Max_NVDI - Min_NVDI
features['ndvi_range'] = train_smt.max(axis=1) - train_smt.min(axis=1)

# ...existing code...

In [10]:
#Winter - 12 1 2 
#Spring - 3 4 5 
#Summer - 6 7 8
#Autumn - 9 10 11

# Select columns corresponding to summer months (June, July, August)
# Ensure columns are datetime

col = train_smt.columns
# Select columns where the month is June, July, or August
summer_columns = [c for c in col if c.month in [6, 7, 8]]
Winter_columns = [c for c in col if c.month in [11, 1,2]]
Spring_columns = [c for c in col if c.month in [3, 4, 5]]
Autumn_columns = [c for c in col if c.month in [9, 10, 11]]

features['Summer'] = train_smt[summer_columns].mean(axis=1)**2
features['Spring'] = train_smt[Spring_columns].mean(axis=1)**2
features['Autumn'] = train_smt[Autumn_columns].mean(axis=1)**2
features['Winter'] = train_smt[Winter_columns].mean(axis=1)**2

#Growth Seasons
features['Spring-Winter'] = features['Spring'] - features['Winter']
features['Autumn-Summer'] = features['Autumn'] - features['Summer']
features['Summer-Spring'] = features['Summer'] - features['Spring']

#Ratio of peak to dormant seasons
#features['Summer/Winter'] = features['Summer']/features['Winter']

features.head()

,min/max,mean,Standard_deviation,days_ndvi_above_3500,days_ndvi_below_3500,max_slope_increase,min_slope_decrease,skewness,kurtosis,ndvi_sum_positive,...,num_peaks,num_troughs,ndvi_range,Summer,Spring,Autumn,Winter,Spring-Winter,Autumn-Summer,Summer-Spring
0,-1.288442,-379.565392,781.760693,0,27,1394.376000,-1964.973143,0.046185,-0.939499,4520.594829,...,5,6,2873.960257,1.700917e+04,366622.060226,86317.869190,288283.469914,78338.590311,69308.696989,-349612.888026
1,-1.430497,-284.654015,740.119688,0,27,1488.800229,-1762.126114,-0.141115,-0.857848,4888.427531,...,4,5,2846.205914,1.300775e+04,97302.511987,96711.579595,294457.661689,-197155.149702,83703.832988,-84294.765380
2,-2.012972,-417.190070,699.199523,0,27,1691.049443,-1190.429871,-0.191673,-0.768590,2843.175371,...,6,7,2552.949743,1.026997e+05,123533.658760,232854.740328,513370.108691,-389836.449931,130155.037929,-20833.956361
3,-1.889240,-348.477142,664.790395,0,27,1619.477371,-1156.145257,0.126959,-0.702653,3809.016143,...,7,8,2363.246943,3.738099e+04,117330.603014,342577.386023,421578.420527,-304247.817513,305196.400684,-79949.617675
4,-0.794909,459.194744,914.285343,0,27,1879.570657,-1803.478630,-0.645575,-0.456479,17988.102623,...,5,5,3359.555771,1.011407e+06,378375.439528,682919.965780,63.383023,378312.056506,-328486.629047,633031.155299

In [11]:
from sklearn.preprocessing import StandardScaler
Scalor = StandardScaler()
features_scaled = Scalor.fit_transform(features)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(features_scaled,test_result)

In [ ]:
# best_model = LogisticRegression('l2',C=0.1,solver='sag',max_iter= 10000,random_state= 40)
# best_model.fit(X_train,Y_train)

# Y_pre = best_model.predict(X_test)
# acc = accuracy_score(Y_pre,Y_test)
# print(acc)

#this block can take up to 5 minutes. So, please keep patience.

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

param_grid = {
    'C': [0.01, 0.1, 1, 10, 100],
    'penalty': ['l2'],
    'solver': ['liblinear', 'saga','sag']  # solvers that support both l1 and l2
}

grid = GridSearchCV(LogisticRegression(max_iter=1000000), param_grid, cv=5, scoring='accuracy')
grid.fit(X_train, Y_train)

print("Best parameters:", grid.best_params_)
print("Best cross-validation score:", grid.best_score_)

# Use the best estimator for predictions
best_model = grid.best_estimator_
Y_pred = best_model.predict(X_test)

Best parameters: {'C': 100, 'penalty': 'l2', 'solver': 'sag'}
Best cross-validation score: 0.8855000000000001

In [14]:

testing = pd.read_csv('C:\\Users\\pani_puri\\Downloads\\Summer Analytics Assignment\\Week 2 hackathon\\hacktest.csv')

# 2. Drop unnecessary columns (adjust if needed)
testing.drop(columns=['Unnamed: 0', 'ID'], inplace=True, errors='ignore')

# 3. Interpolate missing values
testing_interpolated = testing.interpolate(method='linear', axis=0, limit_direction='both')

# 4. Apply Savitzky-Golay filter
testing_smt = pd.DataFrame(
    savgol_filter(testing_interpolated.values, window_length=5, polyorder=2, axis=1),
    columns=testing_interpolated.columns,
    index=testing_interpolated.index
)

# 5. Clean column names and convert to datetime
testing_smt.rename(columns=lambda x: str(x).replace('_N', ''), inplace=True)
testing_smt.columns = pd.to_datetime(testing_smt.columns)

# 6. Feature engineering (same as train)
test_features = pd.DataFrame({
    'row_min': testing_smt.min(axis=1),
    'row_max': testing_smt.max(axis=1)
})
test_features['min/max'] = test_features['row_min'] / test_features['row_max']
test_features['mean'] = testing_smt.mean(axis=1)
test_features['Standard_deviation'] = testing_smt.std(axis=1)

NDVI_THRESHOLD = 3500
test_features['days_ndvi_above_3500'] = (testing_smt > NDVI_THRESHOLD).sum(axis=1)
test_features['days_ndvi_below_3500'] = (testing_smt < NDVI_THRESHOLD).sum(axis=1)

test_features['max_slope_increase'] = testing_smt.diff(axis=1).max(axis=1)
test_features['min_slope_decrease'] = testing_smt.diff(axis=1).min(axis=1)

from scipy.stats import skew, kurtosis
test_features['skewness'] = testing_smt.apply(skew, axis=1)
test_features['kurtosis'] = testing_smt.apply(kurtosis, axis=1)

test_features.drop(columns=['row_max', 'row_min'], inplace=True)

# Seasonal features
col = testing_smt.columns
summer_columns = [c for c in col if c.month in [6, 7, 8]]
Winter_columns = [c for c in col if c.month in [11, 1, 2]]
Spring_columns = [c for c in col if c.month in [3, 4, 5]]
Autumn_columns = [c for c in col if c.month in [9, 10, 11]]

test_features['Summer'] = testing_smt[summer_columns].mean(axis=1)**2
test_features['Spring'] = testing_smt[Spring_columns].mean(axis=1)**2
test_features['Autumn'] = testing_smt[Autumn_columns].mean(axis=1)**2
test_features['Winter'] = testing_smt[Winter_columns].mean(axis=1)**2

test_features['Spring-Winter'] = test_features['Spring'] - test_features['Winter']
test_features['Autumn-Summer'] = test_features['Autumn'] - test_features['Summer']
test_features['Summer-Spring'] = test_features['Summer'] - test_features['Spring']
#test_features['Summer/Winter'] = test_features['Summer'] / test_features['Winter']

#Integral/Area Under Curve: Sum of all positive NDVI values (or np.trapz)
test_features['ndvi_sum_positive'] = (testing_smt * (testing_smt > 0)).sum(axis=1)
test_features['ndvi_trapz'] = testing_smt.apply(lambda row: np.trapz(row, dx=1), axis=1)

# Number of peaks/troughs: Using scipy.signal.find_peaks
from scipy.signal import find_peaks

def count_peaks(row):
    peaks, _ = find_peaks(row)
    return len(peaks)

def count_troughs(row):
    troughs, _ = find_peaks(-row)
    return len(troughs)

test_features['num_peaks'] = testing_smt.apply(count_peaks, axis=1)
test_features['num_troughs'] = testing_smt.apply(count_troughs, axis=1)

# Range/Amplitude: Max_NVDI - Min_NVDI
test_features['ndvi_range'] = testing_smt.max(axis=1) - testing_smt.min(axis=1)
test_features = test_features[features.columns]
# ...existing code...
# 8. Standardize using the scaler fitted on train data
test_features_scaled = Scalor.transform(test_features)
test_features.head()

,min/max,mean,Standard_deviation,days_ndvi_above_3500,days_ndvi_below_3500,max_slope_increase,min_slope_decrease,skewness,kurtosis,ndvi_sum_positive,...,num_peaks,num_troughs,ndvi_range,Summer,Spring,Autumn,Winter,Spring-Winter,Autumn-Summer,Summer-Spring
0,0.113081,3388.390377,1441.761852,13,14,3211.647657,-2174.057286,-0.028640,-1.110853,91486.540171,...,7,8,5131.185229,1.279874e+07,1.060990e+07,5.677448e+06,1.280066e+07,-2.190764e+06,-7.121292e+06,2.188841e+06
1,0.008493,3771.354843,1602.207228,16,11,3297.006629,-3322.909371,-0.224743,-0.182002,101826.580771,...,7,7,7081.487400,1.558015e+07,1.621325e+07,8.062750e+06,1.436569e+07,1.847559e+06,-7.517400e+06,-6.330999e+05
2,0.033958,3809.056519,1804.430207,15,12,3655.375029,-2849.590514,0.067228,-0.552527,102844.526000,...,5,5,7035.874914,1.365832e+07,1.990034e+07,8.361468e+06,1.224838e+07,7.651959e+06,-5.296853e+06,-6.242017e+06
3,-0.014010,3291.402041,1637.697770,12,15,3127.911800,-2394.840086,-0.328187,-0.894901,88947.369800,...,6,6,5755.116543,2.099530e+07,1.169632e+07,2.102840e+06,7.739175e+06,3.957149e+06,-1.889246e+07,9.298974e+06
4,0.078712,4487.209296,1858.456941,18,9,3332.956143,-3482.838286,-0.065032,-0.642126,121154.651000,...,5,5,7414.805143,2.337249e+07,2.419316e+07,1.006226e+07,1.837571e+07,5.817448e+06,-1.331023e+07,-8.206716e+05

In [15]:
y_submission = best_model.predict(test_features_scaled)
y_submission

array([1, 1, 1, ..., 4, 4, 4])

In [16]:
Y_sub_labels = encoder.inverse_transform(y_submission)
Y_sub_labels

array(['forest', 'forest', 'forest', ..., 'orchard', 'orchard', 'orchard'],
      dtype=object)

In [17]:
id_csv = pd.read_csv('C:\\Users\\pani_puri\\Downloads\\Summer Analytics Assignment\\Week 2 hackathon\\hacktest.csv') 
Submission = pd.DataFrame({'ID': id_csv['ID'], 'class': Y_sub_labels})
Submission

        ID    class
0        1   forest
1        2   forest
2        3   forest
3        4   forest
4        5   forest
...    ...      ...
2840  2841  orchard
2841  2842  orchard
2842  2843  orchard
2843  2844  orchard
2844  2845  orchard

[2845 rows x 2 columns]

In [18]:
Submission

        ID    class
0        1   forest
1        2   forest
2        3   forest
3        4   forest
4        5   forest
...    ...      ...
2840  2841  orchard
2841  2842  orchard
2842  2843  orchard
2843  2844  orchard
2844  2845  orchard

[2845 rows x 2 columns]

88.35 with square
87.2 with cube
86 without any power